<p>Chào {{orderDetails.customerName}},</p>
<p>Cảm ơn bạn đã đặt hàng với chúng tôi!</p>
<p>Chi tiết đơn hàng:</p>
<ul>
  <li>Mã đơn hàng: {{orderDetails.orderId}}</li>
  <li>Tổng tiền: {{orderDetails.totalAmount}}</li>
  <li>Ngày đặt hàng: {{orderDetails.orderDate}}</li>
</ul>
<p>Xin chân thành cảm ơn,</p>
<p>Đội ngũ hỗ trợ</p>